{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <h5>Select Course</h5>
                    </div>
                    <div class="col-xs-12 col-md-3 small-padding-bottom">
                        <ul class="list-group">
                            {% for course_name in courses %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" name="course_name" type="checkbox" value="{{course_name[0]}} ">
                                {{course_name[1]}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-12">
                        <h5>Select subject name</h5>
                    </div>
                    <div class="col-12 small-padding-bottom">
                        <select class="form-select" name="subject_name1">
                            <option selected disabled value="">Choose...</option>
                            {% for subject_name in subject %}
                            <option value="{{subject_name[0]}}">{{subject_name[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12">
                        <h5>Select pdf file</h5>
                    </div>
                    <div class="col-12 small-padding-bottom">
                        <input class="form-control form-control-lg" name="file_name" id="formFileLg" type="file">
                    </div>

                    <div class="col-12 small-padding-bottom">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                    <div class="col-12">
                        <i>{{info}}</i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
<option selected disabled value="">Choose...</option>
{% for subject_name in value %}
<option>{{subject_name[0]}}</option>
{% endfor %}