{% extends "base.html" %}

{% block content %}
<style>
    .page-add-data .alert {
        margin-bottom: 0;
    }
</style>
<div class="container height page-add-data">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 small-padding-top">
                        <h5>Select Course</h5>
                    </div>
                    <div class="col-xs-12 col-md-3 small-padding-bottom">
                        <div class="list-group">
                            {% for course_name in courses %}
                            <label class="list-group-item">
                                <input class="form-check-input me-1" name="course_name" type="checkbox"
                                    value="{{course_name[0]}}">
                                {{course_name[1]}}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12">
                        <h5>Select subject name</h5>
                    </div>
                    <div class="col-12 small-padding-bottom">
                        <select class="form-select" name="subject_name1">
                            <option selected disabled value="">Choose...</option>
                            {% for subject_name in subject %}
                            <option value="{{subject_name[0]}}">{{subject_name[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- <div class="col-12">
                        <h5>Select subject name</h5>
                    </div>
                    <div class="col-12 small-padding-bottom">
                        <select class="form-select" name="subject_name1">
                            <option selected disabled value="">Choose...</option>
                            {% for subject_name in subject %}
                            <option value="{{subject_name[0]}}">{{subject_name[1]}}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                    <div class="col-12">
                        <h5>Select pdf file</h5>
                    </div>
                    <div class="col-12">
                        <i>Only PDF File Supported</i>
                    </div>
                    <div class="col-12 small-padding-bottom">
                        <input class="form-control form-control-lg" name="data" id="formFileLg" type="File"
                            accept="application/pdf" />
                    </div>

                    <div class="col-12 small-padding-bottom">
                        <button class="btn btn-primary" disabled type="submit">Submit form</button>
                    </div>
                    <div class="col-12">
                        <i>{{info}}</i>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-12">
            {% if error %}
            <div class="modal show" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var myModal = new bootstrap.Modal(document.getElementById('errorModal'))
                    myModal.show()
                }, false);
            </script>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
<option selected disabled value="">Choose...</option>
{% for subject_name in value %}
<option>{{subject_name[0]}}</option>
{% endfor %}