{% extends "base.html" %}


{% block content %}
{% set heading %}
<img src="/static/images/logo.svg" class="home-search-logo" alt="">
{% endset %}

{% with course_name_header=heading, course_subject_header="Making it easy for students to find resources" %}
{% include "/components/uni_search.html" %}
{% endwith %}
<style>
    .home-search-logo {
        height: 67px;
    }

    @media(max-width: 768px) {
        .mobile-view-text {
            display: none;
        }

        .search-container {
            margin-top: -174px;
        }
    }
</style>
<div class="container height">
    <div class="row justify-content-center">
        {% for row in value %}
        <div class="col-xs-12 col-md-6 col-lg-4 home-search-pading">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title text-bold">{{row[1]}}</h5>
                    <p class="card-text"> {{row[2]}} </p>
                    <a href="course/{{row[0]}}" class="cta">
                        <span>learn more</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}