{% extends "base.html" %}


{% block content %}

{% with course_name_header="Student Portal", course_subject_header="Making it easy for students to find resources" %}
{% include "/components/uni_search.html" %}
{% endwith %}

<div class="container height">
    <div class="row justify-content-center">
        {% for row in value %}
        <div class="col-xs-12 col-md-4 home-search-pading">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title text-bold">{{row[1]}}</h5>
                    <p class="card-text"> {{row[2]}} </p>
                    <a href="course/{{row[0]}}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}