{% extends "base.html" %}

{% block content %}
<div class="container height">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-4 home-search-pading">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">CSE</h5>
                    <p class="card-text">Computer Science is a science of abstraction -creating the right model for a problem and devising the appropriate mechanizable techniques to solve it.</p>
                    <a href="cse" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 home-search-pading">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">MECHANICAL</h5>
                    <p class="card-text">The scientist discovers a new type of material or energy and the engineer discovers a new use for it basically No TECH without MECH</p>
                    <a href="mech" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 home-search-pading">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">ELECTRICAL</h5>
                    <p class="card-text">In less than a minute and a half, you can find a good doctor. Finding a good electrician, on the other hand, is difficult.</p><br>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}