{% extends "base.html" %}

{% block content %}
<style>
    .card-text1 {
        font-size: 56px;
        color: red;
    }

    .icon-stopwatch {
        color: #000;
        position: absolute;
        right: 1em;
        top: 1em;
        font-size: 10px;
        font-weight: 400;
    }
</style>

<div class="container height">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row justify-content-center">
        {% for key, value in detail.items() %}
        <div class="col-xs-12 col-md-6 col-lg-4  home-search-pading">
            <div class="card mb-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ key }}</h5>
                    <p class="card-text1"> <i class="far fa-file-pdf"></i> </p>
                    <!-- <i class="far fa-file-pdf"></i> -->
                    <!-- <a href="{{ value }}" target="_blank" class="btn btn-primary">Download</a> -->
                    <a href="{{ value }}" class="cta">
                        <span>download</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                    <label for="">
                        <small class="icon-stopwatch" title="times download">External <br>download</small>
                    </label>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>







{% endblock %}