.height{
    min-height: 70vh;
}
.home-search-pading{
    padding: 24px;
    
}
.no-underline{
    text-decoration: none;
}

.small-padding-bottom{
    padding-bottom: 24px;
}

.small-padding-top{
    padding-top: 24px;
}

.card{
    border: none;
    border-color: #e1e1e1;

}
.card:hover{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}



.cta {
    position: relative;
    margin: auto;
    padding: 8px 12px;
    transition: all 0.2s ease;
    color: inherit;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 2px;
    background: rgba(44, 43, 43, 0.5);
    width: 24px;
    height: 34px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #272626;
}


.cta:hover svg {
    transform: translateX(0);
    fill: white;
    stroke: white;

}

.cta:active {
    transform: scale(0.96);
}

.cta:hover {
    color: white;
}

a {
    text-decoration: none;
    /*  */
}