<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7593Y4G8R8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7593Y4G8R8');
    </script>

    
    <meta name="keywords"
        content="previous years question papers, mdu previous years question papers, wctm previous year question papers, diploma question papers, mca question papers, cse, computer science , eee, electrical engineering, ece, electrical and communication engineering, me, mechanical engineering, civil engineering" />

    <meta name="description"
        content="Download Previous Years Question Papers absolutely Free for WCTM, PU, BFUHS, PSBTE, PSEB, GTU, HPTSB, MDU, BCA,  MCA, Btech, MTech, btech IT, IT, DIPLOMA, Distance Education" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property='og:title' content='Last Night Paper | engineering previous years question paper ' />
    <meta property='og:image' content='https://lastnightpaper.herokuapp.com/static/images/cover_pic.jpg' />
    <meta property='og:description' content='Making it easy for students to find resources' />
    <meta property='og:url' content='https://lastnightpaper.herokuapp.com/' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site:id" content="@iamsagarsangwan" />
    <meta name="twitter:title" content="Last Night Paper | engineering previous years question paper " />
    <meta name="twitter:description" content="Making it easy for students to find resources" />
    <meta name="twitter:image" content="https://lastnightpaper.herokuapp.com/static/images/cover_pic.webp" />
    
    


    <title>Last Night Paper | engineering previous years question paper </title>
    <script src="https://kit.fontawesome.com/467b720efb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/icon-32x32.svg">
    <meta name="google-site-verification" content="C5JiYj2mODvYnlk13hlp6HV12m7K9ut6XSNFpPPv0vA" />
    {% block header %}
    {% endblock %}

</head>

<body>

    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}
    {% include "components/footer.html" %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>