<style>
    .footer {
        background: rgb(235 239 239);
    }
</style>
<footer class="page-footer footer font-small stylish-color-dark pt-4">
    <div class="container text-center text-md-left">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Student-Portal</h5>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.
                </p>
            </div>
            <div class="col-sm-2 col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3  mb-4">Links</h5>
                <ul class="list-unstyled">

                    <li>
                        <a class="no-underline" href="/">Home</a>
                    </li>
                    <li>
                        <a class="no-underline" href="/feedback">Feedback</a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                </ul>

            </div>


        </div>

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sagar.sangwan.902" target="_blank" class="btn-floating btn-lg btn-fb"
                    type="button" role="button"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/sagar_sangwan01?t=SLoQDBtPPv-blDdL6NwOaw&s=08" target="_blank"
                    class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/sagar-sangwan-7731101a9/" target="_blank"
                    class="btn-floating btn-lg btn-li" type="button" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/sagar_hary_a_n_a/" target="_blank"
                    class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/sagarsangwan" target="_blank" class="btn-floating btn-lg btn-git"
                    type="button" role="button"><i class="fab fa-github"></i></a>
            </li>
            <li>
                <div>
                    Designed and develped by <a class = "no-underline"nav-link" href="https://sagarsangwan.herokuapp.com/" target="blank">sagar sangwan</a> took some help from Ankush Jamdagani and Dr. Rashmi Sangwan
                </div>
            </li>
            <li>
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a class="no-underline" href="/"> student-portal</a>
                </div>
            </li>
        </ul>
</footer>