<style>
  .home-search-container {
    background-color: #f9fff3;
  }

  .home-search {
    min-height: 70vh;
    margin-bottom: 24px;
    background-image: url(static/images/cover_pic.jpg);
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .home-search button,
  .home-search input {
    width: 100%;
  }

  .home-search .input-container {
    display: inline-flex;
    width: 500px;
  }

  .home-search .filter-container {
    display: inline-flex;
    width: 120px;
  }

  .home-search .button-container {
    display: inline-flex;
    width: 120px;
  }

  @media(max-width: 768px) {
    .mobile-view {
      margin-bottom: 90px;
    }

    .home-search .input-container {
      width: 100%;
      margin-bottom: 16px;
    }


    .home-search .filter-container {
      width: 100%;
      margin-bottom: 16px
    }

    .home-search .button-container {

      width: 100%;
      margin-bottom: 16px
    }

    .home-search {
      background-position: -61px 60px;
    }



  }
</style>





<form class="home-search-container">
  <div class="container">
    <div class="row  home-search justify-content-center align-items-center">
      <div class="col">
        <div class="mobile-view">
          <h1><b> Student Portal </b></h1>
          <p>
            Making it easy for students to find resources
          </p>
          <br><br>
        </div>
        <div class="mobile-view-2">

          <div class="input-container">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
          </div>

          <div class="button-container">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>