<style>
    .home-search-container {
        background-color: #f9fff3;
    }

    .home-search {
        min-height: 70vh;
        margin-bottom: 24px;
        background-image: url(/static/images/cover_pic.webp);
        background-size: 540px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .home-search button,
    .home-search input {
        width: 100%;
    }

    .home-search .input-container {
        display: inline-flex;
        width: 500px;
    }

    .home-search .filter-container {
        display: inline-flex;
        width: 120px;
    }

    .home-search .button-container {
        display: inline-flex;
        width: 120px;
    }

    .mobile-view-text {
        width: 500px;
    }

    @media(max-width: 768px) {
        .mobile-view-text {
            margin-bottom: 220px;
        }


        .home-search .input-container {
            width: 100%;
            margin-bottom: 16px;
        }

        .home-search .filter-container {
            width: 100%;
            margin-bottom: 16px
        }

        .home-search .button-container {

            width: 100%;
            margin-bottom: 16px
        }

        .home-search {
            background-position: -61px 60px;
        }

    }
</style>

<form class="home-search-container" method="GET" action="/search">
    <div class="container">
        <div class="row  home-search justify-content-center align-items-center">
            <div class="col">
                <div class="mobile-view-text">
                    <h1><b> {{course_name_header}} </b></h1>
                    <p>
                        {{course_subject_header}}
                    </p>
                    <br><br>
                </div>
                <div class="search-container">
                    <div class="input-container">
                        <input value="{{search}}" type="text" name="search" class="form-control"
                            aria-label="Text input with dropdown button">
                    </div>
                    <div class="button-container">
                        <button class="btn btn-success" title="search anything" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>